In [105]:
import sys
sys.path.insert(0, 'src/models/')
sys.path.insert(0, 'src/conf/')
sys.path.insert(0, '../../conf/')
sys.path.insert(0, '../../models')
sys.path.insert(0, '../../')
from sklearn.metrics import log_loss
from sklearn.model_selection import KFold, StratifiedKFold,train_test_split
from conf_kdd_regular import *
from utils import *
import warnings
warnings.filterwarnings("ignore")

def load_x(ds, preset):
    feature_parts = [Dataset.load_part(ds, part) for part in preset.get('features', [])]
    prediction_parts = [load_prediction(ds, p, mode=preset.get('predictions_mode', 'fulltrain')) for p in preset.get('predictions', [])]
    prediction_parts = [p.clip(lower=0.1).values.reshape((p.shape[0], 1)) for p in prediction_parts] # 拦截clip

    if 'prediction_transform' in preset:
        prediction_parts = list(map(preset['prediction_transform'], prediction_parts))  # 是否需要对上一次的预测做变换

    return hstack(feature_parts + prediction_parts)

In [106]:
set_train='lgb-tst1'
preset = presets[set_train]
print("Loading test data...")
test_x = load_x('val1', preset)
test_y = Dataset.load_part('val1', 'click_mode')

Loading test data...

In [107]:
!ls ../val1

20190509-1015-lgb-tst1-0.67435-test-foldavg.csv
20190509-1015-lgb-tst1-0.67435-test-fulltrain.csv
20190509-1015-lgb-tst1-0.67435-train1.csv
20190509-2054-lgb-tst1-0.67435-test_foldavg_p_backup.csv
20190509-2054-lgb-tst1-0.67435-train1.csv
20190509-2054-lgb-tst1-0.67435-val1-foldavg.csv
20190509-2054-lgb-tst1-0.67435-val1-fulltrain.csv
20190509-2305-lgb-tst1-0.67906-test_foldavg_p_backup.csv
20190509-2305-lgb-tst1-0.67906-train1.csv
20190509-2305-lgb-tst1-0.67906-va1l-foldavg.csv
20190509-2305-lgb-tst1-0.67906-val1-fulltrain.csv
20190511-2253-lgb-tst1-0.67905-test_foldavg_p_backup.csv
20190511-2253-lgb-tst1-0.67905-train1.csv
20190511-2253-lgb-tst1-0.67905-va1l-foldavg.csv
20190511-2253-lgb-tst1-0.67905-val1-fulltrain.csv
20190519-1417-lgb-tst1-0.67939-test_foldavg_p_backup.csv
20190519-1417-lgb-tst1-0.67939-train1.csv
20190519-1417-lgb-tst1-0.67939-va1l-foldavg.csv
20190519-1417-lgb-tst1-0.67939-val1-fulltrain.csv
20190519-1516-lgb-tst1-0.67929-test_foldavg_p_backup.csv
20190519-1516-lgb-tst1-0.67929-train1.csv
20190519-1516-lgb-tst1-0.67929-va1l-foldavg.csv
20190519-1516-lgb-tst1-0.67929-val1-fulltrain.csv
20190519-1558-lgb-tst1-0.67929-test_foldavg_p_backup.csv
20190519-1558-lgb-tst1-0.67929-train1.csv
20190519-1558-lgb-tst1-0.67929-va1l-foldavg.csv
20190519-1558-lgb-tst1-0.67929-val1-fulltrain.csv

In [110]:
pred_folds = pd.read_csv('../val1/20190519-1516-lgb-tst1-0.67929-va1l-foldavg.csv',index_col=['sid']).reset_index()
pred_full = pd.read_csv('../val1/20190519-1516-lgb-tst1-0.67929-val1-fulltrain.csv',index_col=['sid']).reset_index()
pred_folds.rename(columns={'sid':'index','click_mode':'pred_folds'},inplace=True)
pred_full.rename(columns={'sid':'index','click_mode':'pred_full'},inplace=True)

In [111]:
pred_full.pred_full.unique()

array([0])

In [112]:
df = pd.DataFrame(np.concatenate((test_x,test_y.reshape(-1,1)),axis=1),index=Dataset.load_part('val1', 'sid')).reset_index()

In [113]:
df.head()

,index,0,1,2,3,4,5,6,7,8,...,129,130,131,132,133,134,135,136,137,138
0,2963733.0,116.459999,39.990002,116.440002,39.910000,9045.625977,-1.0,-1.0,-1.000000,-1.000000,...,7.801606e-15,6.817824e-14,-2.194021e-14,-1.308156e-14,-2.322107e-15,2.025731e-15,-4.811759e-14,-1.219233e-14,-2.260537e-13,0.0
1,1597000.0,116.410004,39.950001,116.389999,39.900002,5808.971191,10458.0,6497.0,7872.000000,1619.366699,...,2.440425e-02,1.999160e-01,4.423971e-02,-2.913688e-02,3.229899e-03,-9.549007e-03,-7.056616e-03,-8.226720e-03,1.552618e-01,0.0
2,3087459.0,116.349998,39.759998,116.370003,39.910000,16742.478516,24707.0,17688.0,21288.599609,2554.528320,...,-3.591530e-01,-4.202637e-01,2.412019e-01,1.175059e-01,-2.283298e-01,4.201682e-01,-1.496629e-02,7.313113e-03,3.505438e-02,7.0
3,1504615.0,116.510002,39.919998,116.510002,39.919998,0.000000,1447.0,382.0,883.333313,437.012848,...,5.759255e-01,2.832073e-02,6.735145e-01,1.282068e-01,-1.958125e-02,-1.147366e-01,-2.703022e-01,6.368313e-02,-2.949696e-02,5.0
4,717211.0,116.220001,40.110001,115.570000,39.820000,64193.914062,160420.0,114618.0,132816.750000,19375.675781,...,-2.756396e-01,-3.042137e-01,1.980681e-01,-7.759263e-02,4.635213e-01,3.567856e-03,1.110680e-02,-1.049243e-01,-9.596228e-02,0.0

In [114]:
pred_folds.shape

(110000, 2)

In [115]:
see = pd.merge(df,pred_folds,on='index')

In [116]:
see.shape

(110000, 141)

In [117]:
see['same'] = see.apply(lambda x:x[138] if  int(x[138]) == x.pred_folds else -1,axis=1)

In [118]:
print("f1_score of model: %.5f" % f1_score(see[138],see['pred_folds'], average='weighted'))

f1_score of model: 0.67722

In [119]:
see.shape

(110000, 142)

In [120]:
see.same.value_counts()

-1.0     31120
 2.0     28178
 7.0     14633
 1.0     11672
 5.0      9287
 9.0      8859
 0.0      2282
 10.0     2079
 11.0      945
 6.0       481
 3.0       348
 8.0        96
 4.0        20
Name: same, dtype: int64

In [121]:
# -1 : 预测不对的个数6823个  这次查了很多-1.0     31138

In [122]:
see.pred_folds.value_counts()
# 0类别和6类别预测比较差；--》可以看看概率是不是都很接近，表示识别不出来啊；；
# 3类很差 4 类也很差

2     33558
7     20794
1     19124
9     13483
5     11967
10     4348
0      2414
11     1859
6      1318
3       800
8       283
4        52
Name: pred_folds, dtype: int64

In [124]:
see[138].value_counts()

2.0     30120
7.0     17218
1.0     15457
9.0     10750
5.0     10359
0.0     10265
3.0      5376
10.0     3279
4.0      2847
6.0      2559
11.0     1335
8.0       435
Name: 138, dtype: int64

In [168]:
see[see[138] ==11].pred_folds.value_counts()
#0 类别预测成了基本的分布
#1（公交）类别预测成了7
#2（公交）类别预测成了9
#3（自驾）预测成了1（公交）7（地铁）
#4（打车）预测成了1（公交）7（地铁）
#5 （步行） 预测成了1
#6（自行车）预测成了1（公交）5（步行）
#7（地铁）预测称了9（公交）
#8（打车+步行）预测称了1，7
#9 （公交）预测成了7
#10（地铁）预测成了7
#11（公交）预测成了1，7

#可以看到1类别很容易被别的类别混淆
#齐次是7，9类别也很蛋疼
#0类别是老大

11    945
1     154
7     143
2      33
10     29
3      16
8       9
0       4
5       1
4       1
Name: pred_folds, dtype: int64

In [146]:
seefull = pd.read_csv('../val1/20190519-1516-lgb-tst1-0.67929-test_foldavg_p_backup.csv')

In [147]:
seefull['clickmode'] = seefull.apply(lambda x:np.argmax(list(x[1:])),axis=1)

In [148]:
seefull.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,clickmode
0,2963733.0,0.997082,0.000369,0.000485,0.000663,0.000155,0.000462,0.000206,0.000267,0.000018,0.000194,0.000063,0.000035,0
1,1597000.0,0.033759,0.002874,0.935495,0.003008,0.011469,0.000442,0.009413,0.001824,0.000061,0.000978,0.000399,0.000279,2
2,3087459.0,0.030271,0.001018,0.001745,0.015218,0.008617,0.000527,0.000199,0.864535,0.000062,0.000843,0.076829,0.000137,7
3,1504615.0,0.032660,0.000962,0.001336,0.008531,0.000585,0.928981,0.025283,0.000752,0.000061,0.000527,0.000196,0.000126,5
4,717211.0,0.108085,0.002098,0.003400,0.141026,0.029738,0.001068,0.000397,0.709541,0.000149,0.002793,0.001324,0.000382,7

In [149]:
seefull[(seefull.clickmode ==2)&(seefull['2'] > 0.7)].shape

(31182, 14)

In [169]:
check=0
for i in range(1,11):
    print 'processing ',i
    aaa = seefull[(seefull.clickmode ==i)&(seefull[str(i)] < 0.3)]
    check = check + aaa.shape[0]
    print aaa.shape
    seefull.loc[(seefull.clickmode ==i)&(seefull[str(i)] < 0.3),'clickmode'] = 0

print check

processing  1
(486, 14)
processing  2
(157, 14)
processing  3
(91, 14)
processing  4
(27, 14)
processing  5
(188, 14)
processing  6
(163, 14)
processing  7
(164, 14)
processing  8
(63, 14)
processing  9
(155, 14)
processing  10
(105, 14)
1599

In [170]:
seefull.clickmode.unique()

array([ 0,  2,  7,  5,  1,  9,  6, 10, 11,  3,  8,  4])

In [171]:
from sklearn.metrics import f1_score
print("    f1_score of model: %.5f" % f1_score(see[138],seefull.clickmode , average='weighted'))

    f1_score of model: 0.67721

In [ ]:
# 目前发现强制改0还是不太对的；需要别的输入才行